label:before {
  content: "☆";
  color: #ffd700;
  font-size: 2em;
}
label.on:before {
  content: "★";
  color: #ffd700;
  /* uncomment for iOS */
  /*   font-size: 2.4em;
    top: -0.1em;
    left: -0.1em; */
}
input:checked + label:before {
  content: "★";
  color: #ffd700;
  /* uncomment for iOS */
  /*   font-size: 2.4em;
    top: -0.1em;
    left: -0.1em; */
}
label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 20px;
}
label:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  border-radius: 10px;
}
input[type="radio"] {
  display: none;
  -webkit-appearance: none;
}

/* Non-essential */
body {
  overflow-x: hidden;
  margin: 2em;
  background-color: #101010;
  text-align: center;
  /* remove gray highlight on tap in iOS */
  -webkit-tap-highlight-color: transparent;
}
.question {
  margin-bottom: 8em;
}
#q1 {
  margin-top: 6em;
}
p {
  color: white;
  font-family: Tahoma, "Segoe UI", Geneva, Verdana;
  font-size: 2em;
}
input[type="submit"] {
  cursor: pointer;
  font-size: 24px;
  font-family: Tahoma, "Segoe UI", Geneva, Verdana;
  color: #101010;
  background-color: white;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 40px;
}
button {
  border-radius: 50px;
  padding: 12px;
  border: 0;
  background-color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(255, 53, 53);
}
#blackGround {
  /* all: unset; */
  top: 0%;
  left: 0%;
  opacity: 70%;
  visibility: hidden;
  position: absolute;
  color: red;
  width: 100%;
  height: 100%;
  background-color: black;
}
.card {
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  border-radius: 0.5rem;
  max-width: 390px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.dismiss {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #d1d5db;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: 0.3s ease;
}

.dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff0000;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate 0.6s linear alternate-reverse infinite;
  transition: 0.6s ease;
}

.image svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #066e29;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actions {
  margin: 0.75rem 1rem;
}

.history {
  cursor: pointer;
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #1aa06d;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.track {
  cursor: pointer;

  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  color: #242525;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}
#editconformlBtn:hover {
  background-color: #25ec67;
}
#re-editAnimation {
  background-color: #0afa2a;
}
.cardConfirm {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.headerConfirm {
  padding: 1.25rem 1rem 1rem 1rem;
  background-color: #ffffff;
}

.imageConfirm {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #fee2e2;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.imageConfirm svg {
  color: #dc2626;
  width: 1.5rem;
  height: 1.5rem;
}

.contentConfirm {
  margin-top: 0.75rem;
  text-align: center;
}

.titleConfirm {
  color: #111827;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.messageConfirm {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actionsConfirm {
  margin: 0.75rem 1rem;
  background-color: #f9fafb;
}

.desactivateConfirm {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #dc2626;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cancelConfirm {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.cardEdit {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.headerEdit {
  padding: 1.25rem 1rem 1rem 1rem;
  background-color: #ffffff;
}

.imageEdit {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgreen;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.imageEdit svg {
  color: #dc2626;
  width: 1.5rem;
  height: 1.5rem;
}

.contentEdit {
  margin-top: 0.75rem;
  text-align: center;
}

.titleEdit {
  color: #111827;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.messageEdit {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actionsEdit {
  margin: 0.75rem 1rem;
  background-color: #f9fafb;
}

.cancelEdit {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
/* Input container */
.input-containerEdit {
  position: relative;
  margin: 20px;
}

/* Input field */
.input-fieldEdit {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-labelEdit {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlightEdit {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-fieldEdit:focus + .input-labelEdit {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.input-fieldEdit:focus + .input-labelEdit + .input-highlightEdit {
  width: 100%;
}
.desactivateEdit {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #0afa2a;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.cardDone {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.headerDone {
  padding: 1.25rem 1rem 1rem 1rem;
  background-color: #ffffff;
}

.imageDone {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgreen;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.imageDone svg {
  color: #dc2626;
  width: 1.5rem;
  height: 1.5rem;
}

.contentDone {
  margin-top: 0.75rem;
  text-align: center;
}

.titleDone {
  color: #111827;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.messageDone {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actionsDone {
  margin: 0.75rem 1rem;
  background-color: #f9fafb;
}

.desactivateDone {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #dc2626;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cancelDone {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
#click {
  outline: 0;
}
#click:focus {
  outline: 0;
}
